<script type="text/javascript">
	
snow.ui.registerComponent(
      // Component name. Must match the file name
      "sizable", 
     
	  // Config for this component. In this case, we just define the default parent of this component
	 {
	    parent: "#container"
	 }, 
	 // Component factory (must implement build(data,config) and can implement postDisplay(data,config).
	 // This JS object will be cloned for each instanced
	 {
	    // The build(data,config) is called by snowUI to build the HTML elements for this component instance.
	    // Here we are using jquery-tpml. The only requirement is to return a HTML or jQuery element
	    build: function(data){
			this.drawFunction = data;
	        var $e = $("#tmpl-sizable").tmpl();
	        // Return the new HTML to let snow manage its life cycle. 
	        return $e;
	    },
	    
		// The postDisplay(data,config) is called by snowUI after the element
		// has been added to DOM. This is a good place to do event binding
		// behavior logics (not related to UI)
	    postDisplay: function(){
			var $e = this.$element;
			var thisComponent = this;
			this.$graphic = $e.find(".sizable-canvas:first");
			
			//draw the handle canvas
			var $handle = this.$element.find("canvas.resize-handle");
			var g = snow.gtx($handle);
			g.beginPath().strokeStyle("#999").lineWidth(.5);
			g.moveTo(20,32).lineTo(32,20).stroke();
			g.moveTo(24,32).lineTo(32,24).stroke();
			g.moveTo(28,32).lineTo(32,28).stroke();
			g.lineWidth(1).moveTo(30,32).lineTo(32,30).stroke();
			

			this.redraw();
			
			// ------ Delete ------ //
			$e.find(".sizable-del").bind("click",function(){
				$e.remove();
			});
			
			// ------ Resize Clock ------ //
			
			
			$handle.sDrag({
				
				drag: function(e,extra){
					var offset = Math.max(extra.deltaPageX,extra.deltaPageY);
					$e.width($e.width() + offset);
					$e.height($e.height() + offset );	
					thisComponent.redraw();
				}
			});
			
			// ------ Resize Clock ------ //
			
			
			
			
			
	    },
		
		redraw: function(){
			var gtx = snow.gtx(this.$graphic).fitParent();
			this.drawFunction(gtx);
		}
	});

</script>

<script id="tmpl-sizable" type="text/html">
<div class="sizable">
	  <canvas class="sizable-canvas"></canvas>
	  <div class="sizable-del">X</div>
	  <canvas width="32px" height="32px" class="resize-handle"></canvas>	  
</div>
</script>
