.sAccordion {
    margin: 0;
    padding: 0;
}

.sAccordion.flex{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	overflow: hidden;
	
}

.sAccordion-panel {
    display:block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sAccordion-panel-content, .sAccordion.flex.enableAnimation .sAccordion-panel-content {
	/* CSS3 Transition Effect */
    transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;		

}



/* for flex, we start to disable the anim, and then, enable it after initial layout */
.sAccordion.flex .sAccordion-panel-content {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;		
}

.sAccordion-panel-header {
    display:block;
    margin: 0;
	cursor: pointer;
}

.sAccordion-panel-content {
    margin:0;
    overflow: hidden;
    padding:0px;
	height: 0;
	display: none;
}

.sAccordion-panel.sel .sAccordion-panel-content {
	overflow: auto;
	display: block;
}

.sAccordion.flex  .sAccordion-panel.sel .sAccordion-panel-content{
    height: 100%;
}



