<!-- Simple helloComponent -->
<script type="text/javascript">
	var helloWorlCount = 0;
	
	// Important: make sure the component name match the file name
	snow.ui.registerComponent("helloComponent",
		{
			// Tell where to add the output of build element
			parent: "#HelloWorld-Container",
			// Tell to empty the parent before adding the output of built element
			transition: "wipe"
		},
		 //Component factory build the component $element
		{
			build: function(data){
				helloWorlCount++;
				var $e = $("#tmplHelloContent").tmpl({name:"John",count:helloWorlCount});
				return $e;
			},
			// The postDisplay will be called after the display
			postDisplay: function(data){
				this.$element.click(function(){
				alert("You clicked on " + $(this).html());
				});
			}
		});

</script>
<!--  /Simple helloComponent -->

<!-- templates for the hello component -->
<script id="tmplHelloContent" type="text/html">
<div style='position:absolute'>Hello... ${name} (${count})</div>
</script>
