.window{
	position: absolute;
	top: 10%; left: 10%;
	width: 60%;
	height: 50%;
	-webkit-border-radius: 5px;
	border: solid 1px #999;
	background-color: #aaa;
}

.window-bar{
	position: absolute;
	top: 0; right: 0; left: 0;
	height: 20px;
	border: solid 1px red; 
	cursor: pointer;
}

.window-bar-title{
	width: 80%;
	border: solid 1px #333;
	margin: 0 auto 0 auto;
	text-align: center;
	text-shadow: 0px 1px 0px #ddd;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .2em;
	color: #333; 
}

.window-resize{
	position: absolute;
	bottom: 0; right: 0;
	width: 32px;
	height: 32px;
	border: solid 1px blue;
	cursor: pointer;
}

.window-content{
	position: absolute;
	top: 50px; right: 7px; bottom: 30px; left: 7px;
	background: #fff;
	
}
