<script type="text/javascript">
(function(){
	
	var dockItems = [
		{id:"intro",title:"Intro"},
		{id:"demos",title:"Demos"},
		{id:"quick",title:"Quick Start"},
		{id:"doc",title:"Doc"}
	]
	
	var dockItemByName = snow.util.array.toMap(dockItems,"id");
	
	snow.ui.registerComponent("dock",{
		parent: "#page",
	},{
		create: function(){
			var $e = $("#tmpl-dock").tmpl({items:dockItems});
			return $e;
		}, 
		
		postDisplay: function(){
			var $e = this.$element;
			
			$e.sTouch(".dock-item",function(){
				var $item = $(this);
				var id = $item.attr("data-itemid");
				var item = dockItemByName[id];
				snow.ui.display("window",{title:item.title});
			});
		}	
	}
	);	
})();	

</script>

<script id="tmpl-dock" type="text/html">
	<div id="dockFrm">
		<div id="dock">
			{{each items}}
			<div class="dock-item" data-itemid="${id}">
				<label>${title}</label>
			</div>
			{{/each}}
		</div>
	</div>
</script>
