<script type="text/javascript">
(function(){
	var zindex = 100;
	var top = left = 50;
	var incr = 30;
	
	snow.ui.registerComponent("window",{
		parent: "#page"
	},{
		build: function(data){
			var $e = $("#tmpl-window").tmpl();
			data = data || {};
			
			if (data.title){
				$e.find(".window-bar:first .window-bar-title:first").html(data.title);
			}
			
			$e.css("z-index",zindex++);
			
			if (top > 200) {
				top = 50;
				left = 50;
			}
				
			top += incr; 
			left += incr;
			$e.css({top: top,left: left});
			
			return $e;
		}, 
		
		postDisplay: function(data){
			var c = this; // the component
			var $e = this.$element;	// the component element		
			// ------ Bind the events ------ //
			$e.find(".window-close").sTouch(function(event){
				$e.remove();
				event.preventDefault();
				event.stopPropagation();
				return false;
			});
			// move the window
			$e.sDrag(".window-bar",{
				start: function(){
					// make sure we push to top when the drag start
					c.pushToTop();
				},
				drag: function(event, extra){
					
					
					// This will be the easiest way to do it 
					// But if done this way, it will not use hardware acceleration on iPad/iPhone
					/*$e.css({top: pos.top + extra.deltaPageY,
					        left: pos.left + extra.deltaPageX});*/
							
					//So, we use translate to benefit of iPhone/iPad hardware acceleration	
					snow.fx.translate({
						element: $e,
						x: extra.pageX - extra.startPageX,
						y: extra.pageY - extra.startPageY
					});		
				}, 
				
				// on drag end, we need to set the final position and remove the transform: translate
				end: function(event,extra){
					// unfortunately, on Firefox and Webkit, the $e.position() does not return the same value
					/*var pos = $e.position();
					$e.css({top: pos.top, left: pos.left});
					$e.css("transform","");*/
					
					// so, we get the css position from the css property itself (can convert it to number)
					var originalX = $e.css("left").match(/\d+/) * 1;
					var originalY = $e.css("top").match(/\d+/) * 1;
					
					var newPos = {left: (extra.pageX - extra.startPageX) + originalX,
					        top: (extra.pageY - extra.startPageY) + originalY};
					$e.css("transform","");
					$e.css(newPos);
					
				} 
				
			});
			
			$e.sDrag(".window-resize",{
				start: function(){
					c.pushToTop();
				},
				drag: function(event,extra){
					$e.width($e.width() + extra.deltaPageX);
					$e.height($e.height() + extra.deltaPageY);
				}
			})
			
			$e.sTouch(function(){
				//snow.log.info("$e.sTouch");
				c.pushToTop();
			});
			
			
			
			// resize the window
			// ------ /Bind the events ------ //
		}, 
		
		pushToTop: function(){
			var $e = this.$element;
			if (zindex > $e.css("z-index")){
				$e.css("z-index",++zindex);
			}
		}
	});	
})();
</script>

<script id="tmpl-window" type="text/html">
	<div class="window">
		<div class="window-bar">
			<div class="window-bar-title"></div>
			<div class="window-close"></div>
		</div>
		
		<div class="window-header">
			
		</div>
		<div class="window-content">
			
		</div>
		<div class="window-footer">
			
		</div>
		<div class="window-resize">
			
		</div>
	</div>
</script>
