.sForm-field{
  margin: 5px 0 10px 0;
}

.sForm-field-label{
  float: left;
  width: 150px;
  text-align: right;
  display: block;
}

.sForm-field-value{
  margin: 0 0 0 160px;
  display: block;
}