<script type="text/javascript">

(function(){
	
	var logCount = 0;
	
	snow.log.addPrinter(function(text){
		var $msg = $("#debugMsg");
		//setTimeout(function(){
			$msg.prepend("" + (logCount++) + " " + text + "<br />");	
		//},0)
		
	})
	
	// Mock data.
    var data = {
        yunits: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
		deals: [
			{name: "Micro$",
			 size: 11000,
			 probability: 80,
			 date: "Apr 14, 2011"},
			 
			 {name: "Snoogle",
			 size: 23000,
			 probability: 20,
			 date: "Apr 15, 2011"},
			 
			 {name: "Orange",
			 size: 10000,
			 probability: 60,
			 date: "April 16, 2011"},
			 
			 
			{name: "PespiCo",
			 size: 20000,
			 probability: 30,
			 date: "April 17, 2011"},
			 
			{name: "Ford, Inc",
			 size: 20000,
			 probability: 30,
			 date: "April 17, 2011"}
			 
			 
			 
			 
		]
    };
	
	function getProbability(top,h){
			top = top + 50;
			return Math.round((top - h) * -110 / h); 
		}
		
	// get the css top value for a probability
	// h: needs to be the height of the grid (to avoid to calculate it on each iteration)
	function getTopFromProbability(probability,h){
			return ( ((h *  probability / 110 ) - h) * -1) -50;
	}
	
	snow.ui.registerComponent("salesChart",{
		parent: "#body"
	},{
		build: function(){
			var $e = $("#tmpl-salesChart").tmpl(data);
			return $e;		
		},
		
		postDisplay: function(){
			var $e = this.$element;
			var c = this;
			
			this.$grid = $("#salesChart-grid"); 
			var $grid = this.$grid;
			
			this.drawGrid();
			this.drawDeals();
			
			// ------ Resize yax units ------ //
			/*
			var $yax = $("#salesChart-yax");
			var $yunits = $yax.find(".salesChart-yunit");
			var h = $yax.innerHeight() / ($yunits.length);
			
			$yunits.css("height",h + "px");
			*/
			// ------ /Resize yax units ------- //
			
			
			var MOVE_DEAL = "moveDeal";
			var SCALE_DEAL = "scaleDeal";
			var PAN_TIMELINE = "panTimeline";
			// dragMode "moveDeal" "scaleDeal" "panTimeline" 
			var dragMode = null;
			
			//{startPageX:num,startPageY:num,lastPageX:num,lastPageY:num,touchIndex:num}
			var scaleTouch = null;
			
			
			var lastDealTouchTime = 0; 
			var dragThreshold = 100;
			
			function passDragThreshold(extra){
				var delta = Math.max(Math.abs(extra.pageX - extra.startPageX),Math.abs(extra.pageY - extra.startPageY));
				return (dragThreshold < delta); 
			}
			
			// ------ Deal Events ------ //
			var scaleStartW = null;
			var scaleStartPos = null;
			$grid.find(".salesChart-deal").bind("gesturechange",function(event){
				if (dragMode !== MOVE_DEAL) {
					dragMode = SCALE_DEAL;
					
					var $deal = $(this);
					
					if (!scaleStartW) {
						scaleStartW = $deal.width();
					}
					if (!scaleStartPos) {
						scaleStartPos = $deal.position();
					}
					var newW = scaleStartW * event.originalEvent.scale;
					
					//var h = $deal.height();
					$deal.css({
							width: newW,
							height: newW
						});
						
					var left = scaleStartPos.left - (newW - scaleStartW) / 2;
					var top = scaleStartPos.top - (newW - scaleStartW) / 2;
					$deal.css({
						top: top,
						left: left
					
					});
					
					$deal.css("-webkit-border-radius", newW + "px");
					flushUI();
				}
			});
			
			$grid.bind("gestureend",function(event){
				dragMode = null;
				scaleStartW = null;
				scaleStartPos = null;
			})
			//
			// TODO: we need to enable the delegate on this one (problem with the event order)
			//$grid.sDrag(".salesChart-deal",{
			$grid.find(".salesChart-deal").sDrag({
			
				start: function(event,extra){
					var $deal = $(this);
					$deal.addClass("sel");
					
					// just for optimization
					c.gridH = $grid.innerHeight();
					
				},
				
				drag: function(event,extra){

					var $deal = $(this);
					
					
					// DEBUG MESSAGE
					/*
					var msg = "" + dragMode + " touches[0].pageX: " + extra.touches[0].pageX;
					if (extra.touches.length > 1){
						msg += " touches[1].pageX: " + extra.touches[1].pageX;
					}
					snow.log.info(msg);
					*/
					
					//snow.log.info()
					if (dragMode === MOVE_DEAL || passDragThreshold(extra) && dragMode === null) {
						
						dragMode = MOVE_DEAL;
						var y = extra.pageY - extra.startPageY;
						snow.fx.translate({
							element: $deal,
							x: extra.pageX - extra.startPageX,
							y: extra.pageY - extra.startPageY
						});
						
						var $prop = $deal.find(".labels > h5:first");
						var originalY = $deal.css("top").match(/\d+/) * 1;
						
						// on iOS, we put the html element udpate to make the animation smooth
						if (snow.ua.hasTouch()) {
							setTimeout(function(){
								$prop.text(getProbability(y + originalY, c.gridH) + "%");
							}, 10);
						}
						else {
							$prop.text(getProbability(y + originalY, c.gridH) + "%");
						}
					}
					
				
					event.stopPropagation();
					return false;	
				}, 
				
				end: function(event,extra){
					var $deal = $(this);
					if (dragMode === MOVE_DEAL) {
						// unfortunately, on Firefox and Webkit, the $e.position() does not return the same value
						// so, we get the css position from the css property itself (can convert it to number)
						var originalX = $deal.css("left").match(/\d+/) * 1;
						var originalY = $deal.css("top").match(/\d+/) * 1;
						
						var newPos = {
							left: (extra.pageX - extra.startPageX) + originalX,
							top: (extra.pageY - extra.startPageY) + originalY
						};
						$deal.css("transform", "");
						$deal.css(newPos);
						
						
					}
					
					//FIXME: hack for now
					setTimeout(function(){
						dragMode = null;
						lastDealTouchTime = 0;
						scaleTouch = null;
						$deal.removeClass("scaleMode");
						$deal.removeClass("sel");
					}, 0);					
				}
			})
			// ------ /Deal Events ------ //
			
			
			// ------ Grid Events ------ //
			/*
			$grid.sDrag({
				drag: function(event,extra){
					var $target = $(event.target);
					//snow.log.info("" + dragMode + " grid event drag " + event.type + " : " + $target.attr("id") + "-" + $target.attr("class"));
					if (dragMode !== MOVE_DEAL && dragMode !== SCALE_DEAL) {
						translateGrid(extra.pageX - extra.startPageX);
					}	
				}, 
				
				end: function (event,extra){
					if (dragMode !== MOVE_DEAL && dragMode !== SCALE_DEAL) {
						var originalX = -1 * $grid.css("left").match(/\d+/) * 1;
						translateGrid(extra.pageX - extra.startPageX,true);
					}				
				}
			});
			*/
			
			// mousewheel
			$grid.bind("mousewheel",function(event){
				translateGrid(event.wheelDelta,true); 
			});
			
			function translateGrid(byX,close){
				var originalX = -1 * $grid.css("left").match(/\d+/) * 1;						
				//snow.log.info("translateGrid parent width" + $grid.parent().innerWidth())
				var parentW = $grid.parent().innerWidth();
				var gridW = $grid.innerWidth();
				if (!close) {
					var x = Math.min(0 - originalX, byX);
					//var x = Math.max(x,)
					//snow.log.info("translateGrid x+originalX: " + (x + originalX) + " gridW-parentW: " + (gridW-parentW));
					if ((x + originalX) * -1 > (gridW-parentW)){
						x = 0;
					}
					snow.fx.translate({
						element: $grid,
						x: x,
						y: 0
					});
				}
				else {
					var left = Math.min(0, originalX + byX);
					left = Math.max(left,-1 * (gridW-parentW));
					var newPos = {
						left: left,
						top: 0
					};
					$grid.css("transform", "");
					$grid.css(newPos);
				}
			}
			// ------ /Grid Events ------ //
			
			
			
		},
		
		drawGrid: function(){
			var gtxGrid = snow.gtx($("#salesChart-canvas"));
			gtxGrid.fitParent();
			
			var i,y, w = gtxGrid.canvas().width, h = gtxGrid.canvas().height; 
			
			// draw the x lines
			var r = h/11;
			for (i = 0 ; i < 11; i++){
				y = h - Math.floor(i * r) - .5;
				gtxGrid.moveTo(0,y).lineTo(w,y).stroke();
			}
			
			// draw the y lines
			r = w / 16;
			var x;
			for (i = 0; i < 16; i++ ){
				x =  Math.floor(i * r) + .5;
				gtxGrid.moveTo(x,0).lineTo(x,h).stroke();
			}
		},
		
		drawDeals: function(){
			var $grid = $("#salesChart-grid"); 
			 
			var $deals = $("#salesChart-deals");
			
			$deals.empty();
			
			var i, deal, $deal;
			var y, left = 100, top, h = $grid.innerHeight();
			
			var minSize = 10000000 , maxSize = 0 ; 
			//get the min/max for the bubble size
			for (i = 0; i < data.deals.length; i++) {
				deal = data.deals[i];
				minSize = Math.min(minSize,deal.size);
				maxSize = Math.max(maxSize,deal.size);
			}
			
			
			var deltaSize = (maxSize - minSize);
			var minDim = 100;
			var maxDim = 400; 
			for (i = 0; i < data.deals.length; i++){
				deal = data.deals[i];
				$deal = $("#tmpl-salesChart-deal").tmpl(deal);
				
				$deal.css("left", left + "px");
				
				$deal.css("left", left + "px");
				$deal.css("top", getTopFromProbability(deal.probability,h) + "px");
				
				//var dim = ;
				/*
				$deal.css({
					width: dim,
					height: dim
				});*/
				
				$deals.append($deal);
				left += 250;
			}
			
		}
		
		
		
	});	
})();	


</script>


<script id="tmpl-salesChart" type="text/html">
<div id="salesChart">
	<h1><span>Sales Pipeline: </span> $<span id="salesPipelineTotal">1,222,000</span></h1> 
	
	<div id="salesChart-chart">
		<div id="salesChart-yaxCtn">
			<div id="salesChart-yax">
				{{each yunits}}
				<div class="salesChart-yunit"><label>${this}%</label></div>
				{{/each}}
			</div>
		</div>
		<div id="salesChart-gridCtn">
			<div id="salesChart-grid">
				<div id="salesChart-canvasCtn">
					<canvas id="salesChart-canvas"></canvas>
				</div>
				<div id="salesChart-deals">
					
				</div>
				
			</div>
		</div>
		
		<div id="debugMsg">
			
		</div>
	</div>
</div>	
</script>

<script id="tmpl-salesChart-deal" type="text/html">
<div class="salesChart-deal">
	<div class="labels">
		<h2>${name}</h2>
		<h3>$${size}</h3>
		<h4>${date}</h4>
		<h5>${probability}%</h5>
	</div>	
</div>
</script>
